

:root{
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("./images/pattern-curve.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: "Inter", sans-serif;
}

main{
    width: 90%;
    text-align: center;
    max-width: 800px;
}



.background{
    width: 100%;
    height: 100%;
    background-image: url("./images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
     top: -10px;
     left: 0;
    z-index: 0;
}

.img{
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 300px;
}

img{
    position: relative;
    z-index: 3;
    max-width: 200px;
    object-fit: cover;
    margin-block: 1rem;
    box-shadow: 0px 10px 20px var(--grayish-blue);
}



.articles{
    margin-top: 2rem;
    display: grid;
    overflow: hidden;
}

article{
    grid-area: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    width: 100%;
    max-width: 430px;
    margin-top: 2rem;
    background-image: url("./images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50px;
    padding-top: .5rem;
    color: var(--dark-blue);
    line-height: 1.5;
    font-size: 1.1em;
}

h2{
    font-size: 1em;
    margin-bottom: 0;
}

.text p:last-child{
    margin-top: 0;
    color: var(--grayish-blue);
}


article:not(.active) {
    transform: translateX(-100%);
    z-index: 2;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
   
}


.btn{
    position: absolute;
    bottom: 10px;
    right: 120px;
    z-index: 3;
    background-color: white;
    box-shadow: 1px 1px 5px var(--grayish-blue);
    border-radius: 30px;
    padding: .3rem .5rem;

}

@keyframes next1{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%) ;
    }
}

@keyframes next2{
    from{
        transform: translateX(100%) ;
     
    }
    to{
        transform: translateX(0%) ;
    }
}

@keyframes prev1{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%) ;
    }
}

@keyframes prev2{
    from{
        transform: translateX(-100%) ;
     
    }
    to{
        transform: translateX(0%) ;
    }
}

@media (min-width: 700px) {
    article{
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
    }

    .text{
        margin-right: -30px;
        z-index: 3;
        background-image: url("./images/pattern-quotes.svg");
        background-position: top left 47px;
        background-size: 60px;
    }
    .img{
        max-width: 500px;
        padding: 1.5rem;
    }
    
    img{
        max-width: 300px;
    }

    .background{
        background-size:contain;
        background-position: center;
        position: absolute;
         top: 0px;
         left: -10px;
    }

    .btn{
        position: absolute;
        bottom: 30px;
        left: 60px ;
        right: 0px ;
        width: fit-content;
    
    }
    
  }